body {
  min-height: 380px;
  margin: 0;
}

main {
  margin-bottom: 65px;
  max-height: 380px;
  overflow-y: auto;
  padding: 0 20px;
}

p {
  text-align: justify;
}

.help {
  cursor: pointer;
}

#folders {
  overflow: visible !important;
}

.folder {
  position: relative;
}

.folder .save-hint {
  color: blue;
  display: none;
  font-family: 'Arial Black';
  font-size: 20px;
  left: -12px;
  position: absolute;
  top: 1px;
}

.dirty.folder .save-hint {
  display: block;
}

.folder .alias {
  width: 70px;
}

.folder .remove {
  width: 20px;
  min-width: 0;
  padding: 0;
}

#folders {
  overflow-y: auto;
  margin-bottom: 10px;
}

#top {
  display: table;
  margin-top: 10px;
  table-layout: fixed;
  width: 100%;
}

#top > a {
  display: table-cell;
  text-align: center;
}

pre {
  font-weight: bold;
}

#bottom {
  background: white;
  box-shadow: 0 0 20px grey;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
}

#message {
  background: #EEE;
  border-radius: 5px;
  bottom: 10px;
  box-shadow: 0 0 20px grey;
  display: none;
  left: 50%;
  max-height: calc(100% - 50px);
  max-width: 90%;
  overflow: auto;
  padding: 10px;
  padding-right: 15px; /* For the "close" icon */
  position: fixed;
  transform: translateX(-50%);
}
/* Dummy "close" button (not really needed) */
#message:after {
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  content: "✖";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
}

.error#message {
  background: #E77;
}
.success#message {
  background: #8E8;
}

.large#message {
  min-width: 300px;
}

#add {
  float: right;
}